* {
  font-size: 11px;
  font-family: 'Arial';
}

tr.titulos_tabla {
  border-top: 1px solid black;
  border-collapse: collapse;
}

.encabezado {
  text-align: center;
  align-content: center;
}

.sumatorias{
  text-align: right;
  padding-left: 157px;
}
.ticket {
  width: 290px;
  max-width: 290px;
}
.sumatorias-titulo{
  font-weight: bold;
}
img {
  max-width: inherit;
  width: inherit;
}

@media print{
  .oculto-impresion, .oculto-impresion *{
    display: none !important;
  }
}